/* CSS樣式，用於控制鋪克牌的顯示和半透明效果 */
.center-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px; /* 調整按鈕高度 */
    }

.card-container {
      display: inline-grid;
      gap: 3px;
    }

.card {
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid #000;
  display: inline-block;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.transparent {
  opacity: 0.5; /* 半透明效果 */
}

.red-text {
      color: red;
    }

/* CSS樣式，用於隱藏第二個畫面 */
#secondScreen {
  display: none;
}

